form, table {
  display: inline;
}

input, button {
  display: inline-block;
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid grey; 
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body
{
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  background: #CDCDC1;
}

.timeline {
  /*width: calc((100% / 4) * 3);*/
  width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.timer {
  border-top: outset;
  padding: 5px;
}

.timer:nth-child(even) {
  background-color: #C6C6B9;
}

.time-section {
  float: right;
}

.delete-button {
  position: sticky;
}

.timer-title {
  background: none;
  border: none;
  font-size: 1.2em;
}

.timer-description {
  background: none;
  border: none;
  color: #6a6a6a;
}

.start-time, .end-time {
  background: none;
  border: none;
}

.timer-elapsed {
  padding: 2px;
  font-weight: bold;
}

.running {
  color: green;
}

.react-datepicker__input-container input {
  width: 5em;
}
