form, table {
  display: inline;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body
{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    background: #2c3e50;
}
