/*
 * Root variables
 *
 * Variables for spacing, sizes, colors, and things that need to be different
 * on the narrow layout.
 */

:root {
  --timer-min-height: 3.1rem;
  --time-section-min-width: 110px;
  --middle-container-max-width: 40rem; /* unused atm */

  --color-back: #CDCDC1;
  --color-back-alt: #C6C6B9;
  --color-active: green;
  --color-alt: #6a6a6a;
}
@media screen and (max-width: 42em) {
  :root {
  }
}

/*
 * Basic elements
 */

html {
  font-size: 13px; /* controls the size of datepicker */
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: var(--color-back);
  font-size: 16px;
}

form {
  display: inline-block;
}

input, button {
  display: inline-block;
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid grey;
  box-sizing: border-box;
}

/*
 * Layout
 */

@media screen and (min-width: 48.7em) {
  .container__main > * {
    margin-bottom: 0;
  }
  .container__main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px 20px;
  }
  .container__middle {
    grid-column: 2 / 3;
  }
}

/*
 * Timebar
 */

.timebar {
  text-align: center;
  display: flex;
}

.timebar form {
  flex: 1 auto;
}

.timebar input {
  width: 100%;
}

.sync {
  float: right;
}

.queue-status {
  font-family: monospace;
  display: inline-block;
  padding: 0 5px;
  background: #a6a6a6;
  color: white;
  font-weight: bold;
}

.day-selector, .year-selector, .month-selector {
  float: left;
}

.react-datepicker__input-container input {
  width: 6.3em;
}

.react-datepicker__week-number {
  color: black !important;
  background-color: #f1f3f4;
  font-style: italic;
}

/*
 * Timer
 */

.timer {
  min-height: var(--timer-min-height);
  
  border-top: outset;
  padding: 5px;

  align-items: center;
  display: flex;
  justify-content: space-between;
}

.timer:nth-child(even) {
  background-color: var(--color-back-alt);
}

.time-section {
  min-width: var(--time-section-min-width);
}

.delete-button {
  position: sticky;
}

.timer-title {
  font-size: 1.2em;
}

.timer-description {
  color: var(--color-alt);
  font-size: 0.95em;
}

.timer-title, .timer-description {
  text-align: left;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.name-section input, .name-section textarea {
  padding: 0;
  margin: 0;
  width: 90%;
  font-family: inherit;
  font-size: 14px;
}

.name-section form {
  width: 100%;
}

.name-section {
  flex: 1 auto;
}

.name-section, .time-section {
  z-index: 1;
}

.start-time, .end-time {
  background: none;
  border: none;
}

.timer-elapsed {
  padding: 2px;
  font-weight: bold;
}

.running {
  color: var(--color-active);
}

.edit-btn, .edit-cancel-btn {
  display: none;
  position: absolute;
  margin-left: -2em;
  cursor: pointer;
  padding: 1px;
}

/* Pseudo-element to increase timer’s hover area */
.timer:before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  height: var(--timer-min-height);
}

.timer:hover .edit-btn, .timer:hover .edit-cancel-btn {
  visibility: visible;
  display: block;
  position: absolute;
}

/* time selector */
.time-selector {
  display: inline-block;
}

.time-selector input {
  width: 4em;
}

.react-datepicker-time__caption {
  font-weight: bold;
}

.react-datepicker__time-container--with-today-button {
  right: -87px !important;
  top: -1px !important;
}

/*
 * Task groups
 */

.group-statistics td, .group-statistics th {
  border: 1px solid #999;
  padding: 0.2rem;
  text-align: left;
  font-family: Consolas, Monospace;
  font-size: 12px;
}

.statistics {
  z-index: 1;
  position: relative;
}

.task-group {
  display: block;
}
